1. Convert an integer to a floating-point number.

In [1]:
x = 5
type(x)

int

In [2]:
y = float(x)
type(y)

float

In [3]:
print(x)
print(y)

5
5.0

2. Convert a float to an integer.

In [4]:
x = 23.46
type(x)

float

In [5]:
y = int(x)
type(y)

int

In [6]:
print(x)
print(y)

23.46
23

3. Convert an integer to a string.

In [7]:
x = 14
type(x)

int

In [8]:
y = str(x)
type(y)

str

In [9]:
print(x)
y

14

'14'

4. Convert a list to a tuple.

In [10]:
my_list = ["Harsh", 34.8, 48]
type(my_list)

list

In [11]:
my_tuple = tuple(my_list)
type(my_tuple)

tuple

In [12]:
print(my_list)
print(my_tuple)

['Harsh', 34.8, 48]
('Harsh', 34.8, 48)

5. Convert a tuple to a list.

In [13]:
my_tuple = ("Harsh", 34.8, 48)
type(my_tuple)

tuple

In [14]:
my_list = list(my_tuple)
type(my_list)

list

In [15]:
print(my_tuple)
print(my_list)

('Harsh', 34.8, 48)
['Harsh', 34.8, 48]

6. Convert a decimal number to binary.

In [16]:
x = 15
type(x)

int

In [17]:
y = bin(x)
type(y)

str

In [18]:
print(x)
print(y)

15
0b1111

7. Convert a non-zero number to boolean.

In [19]:
x = 48
y = bool(x)
print(type(y))
print(y)

<class 'bool'>
True